{% extends 'layout.html' %}

{% block title %}Applied Jobs{% endblock %}

{% block content %}
{% if jobs %}

<ul class="list-group mb-4">
    {% for application in applications %}
    <li class="list-group-item" style="margin-bottom: 1rem; padding: 1rem;">
        <div class="row mb-4">
            <div class="col-md-8">
                <h3 class="mb-1"><a href="/job-detail/{{application.job.id}}" style="text-decoration: none;">{{ application.job.job_title }}</a></h3>
            </div>
        </div>
        <h4 class="mb-1">{{ application.job.company }}</h4>
        <p class="mb-1">{{application.job.job_description}}</p>
        <h4>Applicant's Email: {{application.user.email}}</h4>
        <strong>Applied date: {{application.applied_date}}</strong>
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="alert alert-warning text-center" role="alert" style="margin: 2rem;">
    No person has applied to the job yet.
</div>
{% endif %}
{% endblock %}
