{% extends 'layout.html' %}

{% block title %}Show Job{% endblock %}

{% block content %}
<div class="container" style="border: 1px solid #C5C5C4;">
  <h1 class="mb-4">{{ job.company }}</h1>
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title"><strong>Job Title:</strong>{{ job.job_title }}</h5>
      <p class="card-text"><strong>Salary Range:</strong> ${{ job.salary_range }}</p>
      <p class="card-text"><strong>Posted Date:</strong> {{ job.posted_date }}</p>
      <p class="card-text">{{ job.job_description }}</p>
    </div>
    {% if current_user.is_authenticated and current_user.role == 'applicant' %}
    <div style="margin-bottom: 2rem;">
      <a href="/applicant-applied-jobs/{{job.id}}" class="btn btn-primary">Apply Job</a>
    </div>
    {% endif %}
    {% if current_user.is_authenticated and current_user.role == 'manager' %}
    <div style="margin-bottom: 2rem;">
      <a href="/close-job/{{job.id}}" class="btn btn-danger">Close Job</a>
    </div>
    {% endif %}
  </div>
  {% if current_user.is_authenticated and current_user.role == 'manager' %}
  <hr/>
  <h1>Applicants List</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Hiring Manager</th>
        <th>Company</th>
        <th>Job Title</th>
        <th>Job Category</th>
        <th>Salary Range</th>
        <th>Number of Applicants</th>
      </tr>
    </thead>
    <tbody>
      {% for applicant in applicants %}
      <tr>
        <td>{{ user.first_name }}, {{ user.last_name }}</td>
        <td>{{ applicant.company }}</td>
        <td>{{ applicant.job_title }}</td>
        <td>{{ applicant.job_category }}</td>
        <td>{{ applicant.salary_range }}</td>
        <td>{{ applicant.number_of_applicants }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}