{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block navbar %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated and user.role == 'applicant' %}
        <li><a href="/applied-jobs">Applied Jobs</a></li>
        {% endif %}
        {% if user.is_authenticated and user.role == 'manager' %}
        <li><a href="/applicants-list">Applicants</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {% endif %}
    </ul>
</div>
{% with messages = get_flashed_messages(with_categories = true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'error' %}
<div class="alert alert-danger" style="display: flex; justify-content: center;">
    <p>{{ message }}</p>
    <button style="margin-left: 1rem" type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% elif category == 'warning' %}
<div class="alert alert-warning" style="display: flex; justify-content: center;">
    <p>{{ message }}</p>
    <button style="margin-left: 1rem" type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
<div class="alert alert-success" style="display: flex; justify-content: center;">
    <p>{{ message }}</p>
    <button style="margin-left: 1rem" type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}